.todo-edit{

  .todo-loader{
    align-self: center;
  }

  .form-element{
    width: 100%;
    margin-bottom: 10px;
  }

  .form-buttons{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
  }

}
