@import "../../../assets/sass/variables";

.card-container{
  margin: 0;
  flex-direction: column;
  height: 100%;
  text-align: center;

  h1{
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 30px;
    color: #1976d2;
  }

  h3{
    font-size: 30px;
    color: $dark-gray;
  }

  p{
    color: $dark-gray;
  }
}
